@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
  background: #eef3ff;
}

@keyframes float {
  0% { transform: translateY(0px) rotate(0deg); }
  50% { transform: translateY(-0px) rotate(0deg); } /* sudah diturunin biar gak ketinggian */
  100% { transform: translateY(0px) rotate(0deg); }
}

.animate-float {
  animation: float 5s ease-in-out infinite;
}